<include file="Public/header" />

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form id="formData" class="form-horizontal" >
                        <div class="form-group">
                            <label class="col-sm-2 control-label">姓名<span style="color:red;margin:5px;">*</span>：</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="name" value="{$data.name}" required="" >
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">标签<span style="color:red;margin:5px;">*</span>：</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="tag" value="{$data.tag}" required="" >
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">头像<span style="color:red;margin:5px;">*</span>：</label>
                            <div class="col-sm-10">
                                <input name="avatar" id="avatar" type="text" class="form-control"
                                       value="{$data.avatar}" required="" /><br>
                                <div>
                                    <a onclick="BrowseServer('Images:/', 'avatar');" href="javascript:void(0);"
                                       class="btn btn-white" data-options="iconCls:'icon-redo'"
                                       style="width: 60px">选择</a>
                                    <a id="avatar_Img" title="点击预览大图,点击大图关闭预览" href="{$data.avatar}" target="_blank">
                                        <if condition="$data.avatar neq ''">
                                            <img src="{$data.avatar}" style="max-height:100px;max-width: 100%" />
                                        </if>
                                    </a>
                                    <div class="red" style="margin-top:5px;">尺寸大小为：380*149</div>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">排序号：</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="sort" value="{$data.sort}" >
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group myform">
                            <label class="col-sm-2 control-label">是否推荐<span style="color:red;margin:5px;">*</span>：</label>
                            <div class="col-sm-10 radio i-checks">
                                <label><input type="radio" name="is_recommend" value="0"
                                              {$data["is_recommend"]|getSelect=radio,###,0}><i></i>否</label>
                                <label><input type="radio" name="is_recommend" value="1"
                                              {$data["is_recommend"]|getSelect=radio,###,1}><i></i>是</label>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <input type="hidden" name="id" value="{$data.id}"  >
                                <button class="btn btn-primary" type="submit">保存内容</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<include file="Public/footer" />
<script>
    $(document).ready(function () {
        $(".i-checks").iCheck({
            checkboxClass: "icheckbox_square-green",
            radioClass: "iradio_square-green",
        });
        $('input[type="file"]').prettyFile();

        $("#formData").submit(function(){
            $.ajax({
                url: "{:U('update')}",
                type: 'POST',
                dataType: 'json',
                data: $("#formData").serialize(),
                success: function(data){
                    if( data.status ){
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                        window.parent.location.reload();
                    }else{
                        layer.alert(data.info, {skin: 'layui-layer-lan'});
                    }
                }
            });
            return false;
        });
    });
</script>