<include file="Public/header" />
<link href="__JS__/plugins/fancybox/jquery.fancybox.css" rel="stylesheet">

<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content row">
                        <div class="col-sm-7">
                            <button class="btn btn-primary" type="button"
                                onclick="location.href='{:U('Activity/modifyad','p='.$map['p'].'&categoryid='.$map['categoryid'])}'">＋增加</button>
                        </div>
						<form id="search-form" method="get" class="form-horizontal"
						    action="{:U('Activity/listad', 'categoryid='.$map['categoryid'])}">
							<div class="col-sm-5 row">
								<div class="input-group">
									<input type="text" placeholder="标题 " name="keyword" class="form-control"
										value="{$map.keyword}">
									<span class="input-group-btn">
										<button type="submit" class="btn btn-primary">搜索</button>
									</span>
								</div>
							</div>
						</form>
                    </div>
                </div>
            </div>
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<table class="table table-striped table-hover">
							<thead>
								<tr>
									<th width="100" class="TC">ID</th>
									<th width="100" class="TC">审核</th>
									<th width="300">标题</th>
									<th width="200" class="TC">封面图</th>
									<th width="200" class="TC">开始时间</th>
									<th width="200" class="TC">结束时间</th>
									<th width="100" class="TC">发布日期</th>
									<th width="200" class="TC">操作</th>
								</tr>
							</thead>
							<tbody>
								<volist name="data" id="vo" key="n">
									<tr>
										<td align="center">{$vo.id}<input type="hidden" name="id[]"
												value="{$vo.id}" /></td>
										<td align="center">
											<if condition="$vo.status eq 1">
												<i class="fa fa-check"></i>
												<else />
												<i class="fa fa-close"></i>
											</if>
										</td>
										<td>{$vo.title}</td>
										<td align="center">
											<a href="{$vo.thumb}" class="fancybox"><img src="{$vo.thumb}" width="100" /></a>
										</td>
										<td align="center">{$vo.starttime}</td>
										<td align="center">{$vo.endtime}</td>
										<td align="center">{$vo.createtime|strtotime|date="Y-m-d",###}</td>
										<td class="text-navy" align="center">
											<p>
												<a href="{:U('Activity/modifyad','id='.$vo['id'].'&p='.$map['p'].'&categoryid='.$map['categoryid'])}">修改</a>
												<a href="javascript:;" data-url="{:U('Activity/delad','id='.$vo['id'].'&p='.$map['p'].'&categoryid='.$vo['categoryid'])}" class="checkDel">删除</a>
											</p>
											<p>
												<a href="{:U('Prize/listad','activity_id='.$vo['id'])}"
													class="J-OpenTab" data-index="activity_prize_{$vo.id}"
													data-title="{$vo.title}-奖品">奖品列表</a>
												
											</p>
										</td>
									</tr>
								</volist>
							</tbody>
						</table>
						<table class="table table-striped table-hover">
							<tr>
								<td align="center">{$pageshow}</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
        </div>
    </div>
    <include file="Public/footer" />
    <script src="__JS__/plugins/fancybox/jquery.fancybox.js"></script>
    <script>
        $(document).ready(function () {
            $(".fancybox").fancybox({ openEffect: "none", closeEffect: "none" });

            $("#btn-sort").on("click", function () {
                $("#form1").submit();
            });

            $("a.J-top").on("click", function () {
                var url = $(this).data("url");
                layer.confirm("是否确认更新商品置顶状态？", { btn: ["确认", "取消"] }, function () {
                    window.location.href = url;
                });
            });
        });
    </script>