<include file="Public/header" />
<link href="__JS__/plugins/fancybox/jquery.fancybox.css" rel="stylesheet">

<body class="gray-bg">
    <form id="form1" name="form1" method="post" action="{:U('Banner/sortad','p='.$map['p'].'&type='.$map['type'].'&notice='.$notice)}">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
				<if condition="$map['type'] neq 22 && $map['type'] neq 23">
                <div class="col-sm-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <button class="btn btn-primary" type="button" onclick="location.href='{:U('Banner/modifyad','p='.$map['p'].'&type='.$map['type'].'&notice='.$notice)}'">＋增加</button>
<!--                            <button type="submit" class="btn btn-primary" />重新排序</button>-->
                        </div>
                    </div>
                </div>
				</if>
                <div class="col-sm-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th width="100" class="TC">编号</th>
                                        <if condition="$notice eq 0">
                                            <th class="TC" width="50">预览</th>
                                        </if>
<!--                                        <if condition="$notice eq 1">-->
<!--                                            <th class="TC" width="300">公告</th>-->
<!--                                        </if>-->
<!--										<th class="TC">跳转类型</th>-->
<!--										<th class="TC">目标ID / 跳转链接</th>-->
                                        <th width="100" class="TC">分页</th>
                                        <th width="100" class="TC">排序</th>
                                        <th width="100" class="TC">审核</th>
                                        <th width="100" class="TC">发布日期</th>
                                        <th width="100" class="TC">操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <volist name="data" id="vo" key="n">
                                        <tr>
                                            <td align="center">{$n}<input type="hidden" name="id[]" value="{$vo.id}" /></td>
                                            <if condition="$notice eq 0">
                                                <td align="center"><a href="{$vo.image}" class="fancybox">
                                                    <img src="{$vo.image}" style="width: 50px;" /></a></td>
                                            </if>
<!--                                            <if condition="$notice eq 1">-->
<!--                                                <td align="center">{$vo.notice}</td>-->
<!--                                            </if>-->
<!--											<td align="center">{$vo.param.param_type}</td>-->
<!--											<td align="center">{$vo.param.param_id}</td>-->
                                            <td align="center">
                                                {$vo.cate}
                                            </td>
                                            <td align="center">
                                                {$vo.ordernum}
<!--                                                <input type="text" style="text-align:center; width:50px;" class="form-control"-->
<!--                                                    name="ordernum[]" value="{$vo.ordernum}" />-->
                                            </td>
                                            <td align="center">
                                                <if condition="$vo.status eq 1">
                                                    <i class="fa fa-check"></i>
                                                    <else />
                                                    <i class="fa fa-close"></i>
                                                </if>
                                            </td>
                                            <td align="center">{$vo.createdate|strtotime|date="Y-m-d",###}</td>
                                            <td class="text-navy" align="center">
                                                <a href="{:U('Banner/modifyad','id='.$vo['id'].'&p='.$map['p'].'&type='.$map['type'].'&notice='.$notice)}">修改</a>
												<if condition="$map['type'] neq 22 && $map['type'] neq 23">
                                                <a href="javascript:;" data-url="{:U('Banner/delad','id='.$vo['id'].'&p='.$map['p'].'&type='.$map['type'].'&notice='.$notice)}"
                                                    class="checkDel">删除</a>
												</if>
                                            </td>
                                        </tr>
                                    </volist>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <include file="Public/footer" />
    <script src="__JS__/plugins/fancybox/jquery.fancybox.js"></script>
    <script>
        $(document).ready(function () { $(".fancybox").fancybox({ openEffect: "none", closeEffect: "none" }) });
    </script>