<include file="Public/header" />

<body class="gray-bg">
    <form id="form1" name="form1" method="post" action="{:U('OrgActivity/sortad','type='.$map['type'].'&orgid='.$map['orgid'])}">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-sm-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <button class="btn btn-primary" type="button" onclick="location.href='{:U('OrgActivityRelation/modifyad','type='.$map['type'].'&orgid='.$map['orgid'])}'">＋增加</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th width="100" class="TC">编号</th>
                                        <th width="300" class="TC">机构标题</th>
                                        <th width="300" class="TC">活动标题</th>
                                        <th width="100" class="TC">活动价格</th>
                                        <th width="100" class="TC">折扣价格</th>
                                        <th width="100" class="TC">审核</th>
                                        <th width="100" class="TC">发布日期</th>
                                        <th width="100" class="TC">操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <volist name="data" id="vo" key="n">
                                        <tr>
                                            <td align="center">{$n}<input type="hidden" name="id[]" value="{$vo.id}" /></td>
                                            <td align="center">{$vo.otitle}</td>
                                            <td align="center">{$vo.oatitle}</td>
                                            <td align="center">{$vo.price}</td>
                                            <td align="center">{$vo.dis_price}</td>
                                            <td align="center">
                                                <if condition="$vo.status eq 1">
                                                    <i class="fa fa-check"></i>
                                                    <else />
                                                    <i class="fa fa-close"></i>
                                                </if>
                                            </td>
                                            <td align="center">{$vo.updatetime|strtotime|date="Y-m-d",###}</td>
                                            <td class="text-navy" align="center">
                                                <a href="{:U('OrgActivityRelation/modifyad','id='.$vo['id'].'&type='.$map['type'].'&orgid='.$map['orgid'])}">修改</a>
                                                <a href="javascript:;" data-url="{:U('OrgActivityRelation/delad','id='.$vo['id'].'&type='.$map['type'].'&orgid='.$map['orgid'])}"
                                                    class="checkDel">删除</a>
                                            </td>
                                        </tr>
                                    </volist>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <include file="Public/footer" />