<include file="Public/header" />
<style>
    #fujian .preview {
        text-align: left;
    }

    #fujian .webuploader-pick {
        color: #000 !important;
    }

    #fujian .btn-white {
        color: #333
    }

    .noscroll {
        overflow: hidden;
    }

    input.input-large {
        color: #000;
    }

    .yllist {
        clear: both;
        overflow: hidden;
        padding-left: 15px;
        padding-bottom: 20px;
    }

    .yllist span {
        width: 100px;
        height: 35px;
        background: #fff;
        color: #138CDD;
        line-height: 35px;
        border-radius: 5px;
        text-align: center;
        display: inline-block;
        margin-right: 100px;
        cursor: pointer;
        border: 1px solid #138CDD;
    }

    .yllist span.active {
        background: #138CDD;
        color: #fff;
    }

    .cke_bottom,
    #edui1_bottombar {
        display: none !important;
    }
</style>

<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <form method="post" class="form-horizontal" enctype="multipart/form-data"
                            action="{:U('MouldArticle/columnad','doinfo=modify&id='.$info['id'].'&p='.$map['p'].'&status='.$map['status'])}"
                            data-id="{$info['id']}">
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">标题<span style="color:red;margin:5px;">*</span>：</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="title" value="{$info.title}" required="" >
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">副标题<span style="color:red;margin:5px;">*</span>：</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="subtitle" value="{$info.subtitle}" required="" >
                        </div>
                    </div>
					<div class="hr-line-dashed"></div>
					<div class="form-group">
					    <label class="col-sm-2 control-label">图标<span style="color:red;margin:5px;">*</span>：</label>
					    <div class="col-sm-10">
					        <input name="image" id="image" type="text" class="form-control"
					            value="{$info.image}"  required="" /><br>
					        <div>
					            <a onclick="BrowseServer('Images:/', 'image');" href="javascript:void(0);"
					                class="btn btn-white" data-options="iconCls:'icon-redo'"
					                style="width: 60px">选择</a>
					            <a id="image_Img" title="点击预览大图,点击大图关闭预览" href="{$info.image}" target="_blank">
					                <if condition="$info.image neq ''">
					                    <img src="{$info.image}" style="max-height:100px;max-width: 100%" />
					                </if>
					            </a>
					        </div>
					    </div>
					</div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">顶部图片<span style="color:red;margin:5px;">*</span>：</label>
                        <div class="col-sm-10">
                            <input name="thumb" id="thumb" type="text" class="form-control"
                                value="{$info.thumb}"  required="" /><br>
                            <div>
                                <a onclick="BrowseServer('Images:/', 'thumb');" href="javascript:void(0);"
                                    class="btn btn-white" data-options="iconCls:'icon-redo'"
                                    style="width: 60px">选择</a>
                                <a id="thumb_Img" title="点击预览大图,点击大图关闭预览" href="{$info.thumb}" target="_blank">
                                    <if condition="$info.thumb neq ''">
                                        <img src="{$info.thumb}" style="max-height:100px;max-width: 100%" />
                                    </if>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
							<div class="form-group">
								<div class="col-sm-4 col-sm-offset-2">
									<button class="btn btn-primary" type="submit">保存内容</button>
									<button class="btn btn-white" type="button"
										onclick="location.href='{:U('MouldArticle/column','p='.$map['p'].'&status='.$map['status'])}'">返回</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<include file="Public/footer" />
	<link rel="stylesheet" type="text/css" href="__WEBJS__/webuploader.css" />
	<script src="__WEBJS__/webuploader.min.js" type="text/javascript"></script>
	<script src="/Public/Home/plugin/layer/layer.js" type="text/javascript"></script>

	<script src="/Public/ckfinder/ckfinder.js" type="text/javascript"></script>
	<script src="/Public/Home/controller/common/jsframe.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		function BrowseServer_online(startupPath, clientId) {
			var inputValue = $("#" + clientId).val();
			if (inputValue) {
				var arr = inputValue.split("/");
				delete arr[arr.length - 1];
				var dir = arr.join("/");
				startupPath = decodeURI(dir); //decodeURIComponent(dir);
			}
			startupPath = startupPath.replace("/upload/userfiles/files/", "Files:/");
			startupPath = startupPath.replace("/upload/userfiles/images/", "Images:/");

			CKFinder.popup({
				chooseFiles: true,
				rememberLastFolder: true,
				startupPath: startupPath,
				onInit: function (finder) {
					finder.on("files:choose", function (evt) {
						var file = evt.data.files.first();
						var fileUrl = file.getUrl();
						SetFileField_online(fileUrl, clientId);
						filesize(fileUrl);
					});
				}
			});
		}

		// This is a sample function which is called when a file is selected in CKFinder.
		/* function SetFileField_online(fileUrl, clientId) {
			 $('#' + clientId).val(fileUrl);
			 var online_url = 'http://ow365.cn/?i=17473&n=2&furl=http://'+window.location.host+fileUrl;
			 $('#online_url').val(online_url);
			 $("#isFullScreen").attr("src", online_url);
			 $(".checkfj").attr("href", online_url)
			 $("#fujian_zksc").show();
			 var online_url_info = '"http://ow365.cn/?i=17473&info=0&furl=http://'+window.location.host+fileUrl;
			 $.ajax({
				 url: online_url_info,
				 type: 'get',
				 dataType: 'json',
				 success: function (data) {
					 $("#online_url_page").val(data.PageCount)
				 }
			 })
		 }*/


	</script>


	<!-- 配置文件 -->
	<script type="text/javascript" src="__TMPL__/xedit/ueditor.config.js"></script>
	<!-- 编辑器源码文件 -->
	<script type="text/javascript" src="__TMPL__/xedit/ueditor.all.js"></script>
	<!--<script type="text/javascript" src="/Public/ckeditor/ckeditor.js"></script>-->
	<script type="text/javascript">
		var editor = UE.getEditor('content');

		//初始化图集
		InitMulitiImages("thumb");
		/* CKEDITOR.replace('content',
		{
		   toolbar : [
				[ 'Source',  'Preview', '-', ],
				//加粗     斜体，     下划线      穿过线      下标字        上标字
				['Bold','Italic','Underline','Strike','Subscript','Superscript'],
				// 数字列表          实体列表            减小缩进    增大缩进
				['NumberedList','BulletedList','-','Outdent','Indent'],
				//左对 齐             居中对齐          右对齐          两端对齐
				['JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'],
				//超链接  取消超链接 锚点
				['Link','Unlink','Anchor'],
				//图片    flash    表格       水平线            表情       特殊字符        分页符
				['Image','Flash','Table','HorizontalRule','Smiley','SpecialChar','PageBreak'],
				// 样式       格式      字体    字体大小
				['Styles','Format','Font','FontSize'],
				//文本颜色     背景颜色
				['TextColor','BGColor'],
				//全屏           显示区块
				['Maximize']
],
			  width :"100%",
			  height : 400,
			  resize_enabled:false,
		}
	);
	CKEDITOR.on('instanceReady', function(ev) {
	ev.editor.on('maximize', function(evt) {
		if(evt.data==1){
			$("body").addClass("noscroll")
			$("#isFullScreen").css({ "height": "100%", "width": "100%", "left": 0 });
		}else{
			 $("body").removeClass("noscroll")
			 $("#isFullScreen").css({ "height": "400px", "width": "98%", "left": "16px" });
		}
	});
	
});*/

		function uploader(ids) {
			var webuploader = WebUploader.create({
				fileVal: "file_link",
				// 选完文件后，是否自动上传。
				auto: true,
				// swf文件路径
				swf: '/Public/Home/plugin/webuploader/js/Uploader.swf',
				// 文件接收服务端。
				server: "http://" + window.location.host + "/admin.php/MouldArticle/upFuJian",
				// 选择文件的按钮。可选。
				// 内部根据当前运行是创建，可能是input元素，也可能是flash.
				pick: "#fujian",
				// 不压缩image, 默认如果是jpeg，文件上传前会压缩一把再上传！
				resize: false,
			});
			webuploader.on('fileQueued', function (file) {
				$("#progress_bar").show();
				layer.load();
			});
			// 文件上传过程中创建进度条实时显示。
			webuploader.on('uploadProgress', function (file, percentage) {
				$("#probar").css('width', percentage * 100 + '%');
				$("#protext").text(percentage * 100 + '%')
			});
			webuploader.on('uploadSuccess', function (file, response) {
				layer.msg("上传成功！", { time: 1500 })
				$("#progress_bar").hide();
				$("#fujian_zksc").show();
				$("#fujian .input-append input.input-large").val(response.file_link)
				$("#isFullScreen").attr("src", response.online_url)
				$(".checkfj").attr("href", response.file_link)
				$("#fujian").siblings(".preview ").show();
				if (response.is_yl == 1) {
					$("#isFullScreen").hide();
					$(".yllist span").removeClass("active")
					$(".yllist span:nth-child(1)").addClass("cancle")
					$(".yllist span:nth-child(2)").addClass("active")
					$("input[name='display_type']").val(1)
					$("input[name='qz_display_type']").val(1)
				} else {
					$(".yllist span").removeClass("cancle")
					$("input[name='qz_display_type']").val(0)
				}
				$("input[name='file_link']").val(response.file_link)
				$("input[name='file_name']").val(response.file_name)

				$("#file-name-p").show();
				$("#file-name-span").html(response.file_name)

				if ($("input[name='display_type']").val() == 2) {
				console.log(response.online_url_info)
					$("input[name='online_url']").val(response.online_url)
					$.ajax({
						url: response.online_url_info,
						type: 'get',
						dataType: 'json',
						success: function (data) {
							var filename=data.FileName
							var index1=filename.lastIndexOf(".");
							var index2=filename.length;
							var postf=filename.substring(index1,index2);
						}
					})
				}
				layer.closeAll('loading');
				webuploader.reset();
			});
			// 文件上传失败，显示上传出错。
			webuploader.on('uploadError', function (file) {
				$("#progress_bar").hide();
				layer.alert('上传失败');
				layer.closeAll('loading');
			});
		}
		uploader();
		function filesize(fileurl) {
			$.ajax({
				url: "http://" + window.location.host + "/admin.php/MouldArticle/filesize",
				type: 'POST',
				dataType: 'json',
				data: {
					file_url: fileurl
				},
				success: function (data) {
					if (data.is_yl == 1) {
						$("#isFullScreen").hide();
						$(".yllist span").removeClass("active")
						$(".yllist span:nth-child(1)").addClass("cancle")
						$(".yllist span:nth-child(2)").addClass("active")
						$("input[name='display_type']").val(1)
						$("input[name='qz_display_type']").val(1)
					} else {
						$(".yllist span").removeClass("cancle")
						$("input[name='qz_display_type']").val(0)
					}
				}
			})
		}
		$(document).ready(function () {
			var qz = "{$info['qz_display_type']?1:0}";
			if (qz == "1") {
				$(".yllist span:nth-child(1)").addClass("cancle")
			}
			$(".i-checks").iCheck({
				checkboxClass: "icheckbox_square-green",
				radioClass: "iradio_square-green",
			});
			$('input[type="file"]').prettyFile();

			$("#status").on("change", function () {
				var status = $(this).val();
				if (status == 2) {
					$("#J-reason-container").show();
				} else {
					$("#J-reason-container").hide();
					$("#reason").val('');
				}
			});
			//切换模式
			$(".yllist span").click(function () {
				$(this).addClass("active").siblings("span").removeClass("active")
				if ($(this).data("index") == 1) {
					$("#isFullScreen").show();
					$("input[name='display_type']").val(2)
					$("#fujian .preview ").hide()
					if ($("#isFullScreen").attr("src") == "") {
						layer.msg("请选择附件", { time: 1500 });
					}
				} else {
					$("#fujian .preview ").show()
					$("input[name='display_type']").val(1)
					$("#isFullScreen").hide();
				}
			})
			$(document).on("click", ".yllist span.cancle", function (e) {
				e.preventDefault();
				$("input[name='display_type']").val(1)
				$("#isFullScreen").hide();
				$(".yllist span").removeClass("active")
				$(".yllist span:nth-child(2)").addClass("active")
				layer.msg("上传文件过大，无法启用在线预览模式！", { time: 1500 })
			})

			//提交表单
			$("button[type='submit']").click(function (e) {
				e.preventDefault();
				var d = {};
				var t = $('form').serializeArray();
				$.each(t, function () {
					d[this.name] = this.value;
				});
				$("form.form-horizontal").submit()
			})
			//删除附件
			$(".delfile").click(function () {
				$("#fujian_zksc").hide();
				$("#file-name-p").hide();
				$("input[name='online_url'],input[name='file_link'],input[name='online_url_page']").val("");
				$("#isFullScreen").attr("src", '');
				$(".yllist span").removeClass("cancle");
				/*var file_link = $("input[name='file_link']").val()

				$.ajax({
					url: "http://" + window.location.host + "/admin.php/MouldArticle/delfile",
					type: 'POST',
					dataType: 'json',
					data: {
						file: file_link,
						id: $("form.form-horizontal").data("id")
					},
					success: function (data) {
						if (data.is == 0) {
							layer.alert("所选附件不存在，请保存后刷新页面重试！", { title: "温馨提示" })
						} else {
							layer.msg("取消成功", { time: 1500 });
							$("#fujian_zksc").hide();
							$("input[name='online_url'],input[name='file_link'],input[name='online_url_page']").val("");
							$("#isFullScreen").attr("src", '')
						}
					}
				})*/
			})
		});

	</script>