<include file="Public/header" />

<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <form method="post" class="form-horizontal" enctype="multipart/form-data" action="{:U('Edition/modifyad','doinfo=modify&id='.$info['id'])}">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">版本号：</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="version" value="{$info.version}" required="">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group myform">
                                <label class="col-sm-2 control-label">用户端/服务端：</label>
                                <div class="col-sm-10 radio i-checks">
                                    <label><input type="radio" checked name="hybrid" value="user" {$info["hybrid"]|getSelect=radio,###,'user'}><i></i>用户端</label>
                                    <label><input type="radio" name="hybrid" value="server" {$info["hybrid"]|getSelect=radio,###,'server'}><i></i>服务端</label>
                                </div>
                            </div>
							<div class="hr-line-dashed"></div>
							<div class="form-group myform">
							    <label class="col-sm-2 control-label">系统：</label>
							    <div class="col-sm-10 radio i-checks">
							        <label><input type="radio" checked name="system" value="android" {$info["system"]|getSelect=radio,###,'android'}><i></i>安卓</label>
							        <label><input type="radio" name="system" value="ios" {$info["system"]|getSelect=radio,###,'ios'}><i></i>IOS</label>
							    </div>
							</div>
							<div class="hr-line-dashed"></div>
							<div class="form-group myform">
							    <label class="col-sm-2 control-label">是否最新版：</label>
							    <div class="col-sm-10 radio i-checks">
							        <label><input type="radio" checked name="is_new" value="0" {$info["is_new"]|getSelect=radio,###,0}><i></i>否</label>
							        <label><input type="radio" name="is_new" value="1" {$info["is_new"]|getSelect=radio,###,1}><i></i>是</label>
							    </div>
							</div>
                            <div class="hr-line-dashed"></div>
							<div class="form-group">
							    <label class="col-sm-2 control-label">附件：</label>
							    <!--<div class="col-sm-10" id="fujian">-->
							    <div class="col-sm-10">
							        <input name="file_link" id="file_link" type="text" class="form-control"
							            value="{$info.link}" /><br>
							        <input type="hidden" name="file_name" id="file_name" value="{$info.file_name}">
							        <div>
							            <p style="display: {$info['file_name'] ? 'block' : 'none'};" id="file-name-p">原文件名:
							                <span id="file-name-span">{$info.link}</span></p>
							            <a id="fujian"
							                style="width: 100px;display: block;height: 30px;line-height: 30px;text-align: center;border:1px solid #E6E6E6;margin: 20px;margin-top: 0;margin-left: 0;color:#1366B6;">选择附件</a>
							
							            <!--                             <a onclick="BrowseServer_online('Images:/', 'file_link');" href="javascript:void(0);" class="btn btn-white"
							            data-options="iconCls:'icon-redo'" style="width: 60px">选择</a> -->
							        </div>
							        <!--<input type="file" class="form-control " id="file_link" name="file_link" onchange="preview(this,'.f-preview', 1)">
							        <input type="hidden" name="file_link_o" value="{$info.file_link}">
							        <input type="hidden" name="file_links" value="{$info.file_link}">
							        <input type="hidden" name="online_url_page" value="{$info.online_url_page}">-->
							
							    </div>
							    <div class="preview f-preview col-sm-4 text-right" id="fujian_zksc"
							        style="padding-right:100px;<?php echo $info['file_link'] ? '' :'display: none'; ?>">
							        <a href="{$info.file_link}" style="" class="checkfj" target="_blank">查看附件</a>
							        <a style="color: red;margin-left: 50px;" class="delfile">取消附件</a>
							
							    </div>
							    <div class="col-sm-12 col-sm-offset-2" id="progress_bar"
							        style="display: none; margin-left: 17.666667%;padding-left: 0;">
							        <div
							            style=" margin-top: 5px;margin-right: 10px; float: left; height: 6px;width: 300px;background: #F1F1F1;border-radius: 3px;position: relative;">
							            <span id="probar"
							                style="width: 0%;background: #1366B6;position: absolute;top: 0;height: 6px;border-radius: 3px;left: 0;"></span>
							        </div><span id="protext" style="position: relative;float: left;">0%</span>
							    </div>
							</div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-primary" type="submit">保存内容</button>
                                    <button class="btn btn-white" type="button" onclick="location.href='{:U('Edition/listad')}'">返回</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <include file="Public/footer" />
	<link rel="stylesheet" type="text/css" href="__WEBJS__/webuploader.css" />
	<script src="__WEBJS__/webuploader.min.js" type="text/javascript"></script>
	
	<script src="/Public/ckfinder/ckfinder.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".i-checks").iCheck({
                checkboxClass: "icheckbox_square-green",
                radioClass: "iradio_square-green",
            });

            //var editor = window.InitUEditor("content", "content");
			var editor = UE.getEditor('content');
            // var temp = {
            //     "test": 1, "title": '测试'
            // };
            // var data = { "ccc": temp };
            // $.ajax({
            //     type: "post",
            //     url: "http://localhost:10017/sapi.php/home/project",
            //     data: {
            //         "ccc": temp
            //     },
            //     success: function (result) {
            //         console.log(result);
            //     }
            // });
        });
		function BrowseServer_online(startupPath, clientId) {
		    var inputValue = $("#" + clientId).val();
		    if (inputValue) {
		        var arr = inputValue.split("/");
		        delete arr[arr.length - 1];
		        var dir = arr.join("/");
		        startupPath = decodeURI(dir); //decodeURIComponent(dir);
		    }
		    startupPath = startupPath.replace("/upload/userfiles/files/", "Files:/");
		    startupPath = startupPath.replace("/upload/userfiles/images/", "Images:/");
		
		    CKFinder.popup({
		        chooseFiles: true,
		        rememberLastFolder: true,
		        startupPath: startupPath,
		        onInit: function (finder) {
		            finder.on("files:choose", function (evt) {
		                var file = evt.data.files.first();
		                var fileUrl = file.getUrl();
		                SetFileField_online(fileUrl, clientId);
		                filesize(fileUrl);
		            });
		        }
		    });
		}
		function uploader(ids) {
		    var webuploader = WebUploader.create({
		        fileVal: "file_link",
		        // 选完文件后，是否自动上传。
		        auto: true,
		        // swf文件路径
		        swf: '/Public/Home/plugin/webuploader/js/Uploader.swf',
		        // 文件接收服务端。
		        server: "http://" + window.location.host + "/admin.php/MouldArticle/upFuJian",
		        // 选择文件的按钮。可选。
		        // 内部根据当前运行是创建，可能是input元素，也可能是flash.
		        pick: "#fujian",
		        // 不压缩image, 默认如果是jpeg，文件上传前会压缩一把再上传！
		        resize: false,
		    });
		    webuploader.on('fileQueued', function (file) {
		        $("#progress_bar").show();
		        layer.load();
		    });
		    // 文件上传过程中创建进度条实时显示。
		    webuploader.on('uploadProgress', function (file, percentage) {
		        $("#probar").css('width', percentage * 100 + '%');
		        $("#protext").text(percentage * 100 + '%')
		    });
		    webuploader.on('uploadSuccess', function (file, response) {
		        layer.msg("上传成功！", { time: 1500 })
		        $("#progress_bar").hide();
		        $("#fujian_zksc").show();
		        $("#fujian .input-append input.input-large").val(response.file_link)
		        $("#isFullScreen").attr("src", response.online_url)
		        $(".checkfj").attr("href", response.file_link)
		        $("#fujian").siblings(".preview ").show();
		        if (response.is_yl == 1) {
		            $("#isFullScreen").hide();
		            $(".yllist span").removeClass("active")
		            $(".yllist span:nth-child(1)").addClass("cancle")
		            $(".yllist span:nth-child(2)").addClass("active")
		            $("input[name='display_type']").val(1)
		            $("input[name='qz_display_type']").val(1)
		        } else {
		            $(".yllist span").removeClass("cancle")
		            $("input[name='qz_display_type']").val(0)
		        }
		        $("input[name='file_link']").val(response.file_link)
		        $("input[name='file_name']").val(response.file_name)
		
		        $("#file-name-p").show();
		        $("#file-name-span").html(response.file_name)
		
		        if ($("input[name='display_type']").val() == 2) {
				console.log(response.online_url_info)
		            $("input[name='online_url']").val(response.online_url)
		            $.ajax({
		                url: response.online_url_info,
		                type: 'get',
		                dataType: 'json',
		                success: function (data) {
							var filename=data.FileName
							var index1=filename.lastIndexOf(".");
							var index2=filename.length;
							var postf=filename.substring(index1,index2);
		                }
		            })
		        }
		        layer.closeAll('loading');
		        webuploader.reset();
		    });
		    // 文件上传失败，显示上传出错。
		    webuploader.on('uploadError', function (file) {
		        $("#progress_bar").hide();
		        layer.alert('上传失败');
		        layer.closeAll('loading');
		    });
		}
		uploader();
		function filesize(fileurl) {
		    $.ajax({
		        url: "http://" + window.location.host + "/admin.php/MouldArticle/filesize",
		        type: 'POST',
		        dataType: 'json',
		        data: {
		            file_url: fileurl
		        },
		        success: function (data) {
		            if (data.is_yl == 1) {
		                $("#isFullScreen").hide();
		                $(".yllist span").removeClass("active")
		                $(".yllist span:nth-child(1)").addClass("cancle")
		                $(".yllist span:nth-child(2)").addClass("active")
		                $("input[name='display_type']").val(1)
		                $("input[name='qz_display_type']").val(1)
		            } else {
		                $(".yllist span").removeClass("cancle")
		                $("input[name='qz_display_type']").val(0)
		            }
		        }
		    })
		}
		$(document).ready(function () {
		    var qz = "{$info['qz_display_type']?1:0}";
		    if (qz == "1") {
		        $(".yllist span:nth-child(1)").addClass("cancle")
		    }
		    $(".i-checks").iCheck({
		        checkboxClass: "icheckbox_square-green",
		        radioClass: "iradio_square-green",
		    });
		    $('input[type="file"]').prettyFile();
		
		    $("#status").on("change", function () {
		        var status = $(this).val();
		        if (status == 2) {
		            $("#J-reason-container").show();
		        } else {
		            $("#J-reason-container").hide();
		            $("#reason").val('');
		        }
		    });
		    //切换模式
		    $(".yllist span").click(function () {
		        $(this).addClass("active").siblings("span").removeClass("active")
		        if ($(this).data("index") == 1) {
		            $("#isFullScreen").show();
		            $("input[name='display_type']").val(2)
		            $("#fujian .preview ").hide()
		            if ($("#isFullScreen").attr("src") == "") {
		                layer.msg("请选择附件", { time: 1500 });
		            }
		        } else {
		            $("#fujian .preview ").show()
		            $("input[name='display_type']").val(1)
		            $("#isFullScreen").hide();
		        }
		    })
		    $(document).on("click", ".yllist span.cancle", function (e) {
		        e.preventDefault();
		        $("input[name='display_type']").val(1)
		        $("#isFullScreen").hide();
		        $(".yllist span").removeClass("active")
		        $(".yllist span:nth-child(2)").addClass("active")
		        layer.msg("上传文件过大，无法启用在线预览模式！", { time: 1500 })
		    })
		
		    //提交表单
		    $("button[type='submit']").click(function (e) {
		        e.preventDefault();
		        var d = {};
		        var t = $('form').serializeArray();
		        $.each(t, function () {
		            d[this.name] = this.value;
		        });
		        $("form.form-horizontal").submit()
		    })
		    //删除附件
		    $(".delfile").click(function () {
		        $("#fujian_zksc").hide();
		        $("#file-name-p").hide();
		        $("input[name='online_url'],input[name='file_link'],input[name='online_url_page']").val("");
		        $("#isFullScreen").attr("src", '');
		        $(".yllist span").removeClass("cancle");
		        /*var file_link = $("input[name='file_link']").val()
		
		        $.ajax({
		            url: "http://" + window.location.host + "/admin.php/MouldArticle/delfile",
		            type: 'POST',
		            dataType: 'json',
		            data: {
		                file: file_link,
		                id: $("form.form-horizontal").data("id")
		            },
		            success: function (data) {
		                if (data.is == 0) {
		                    layer.alert("所选附件不存在，请保存后刷新页面重试！", { title: "温馨提示" })
		                } else {
		                    layer.msg("取消成功", { time: 1500 });
		                    $("#fujian_zksc").hide();
		                    $("input[name='online_url'],input[name='file_link'],input[name='online_url_page']").val("");
		                    $("#isFullScreen").attr("src", '')
		                }
		            }
		        })*/
		    })
		});
    </script>