<include file="Public/header" />

<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <form method="post" class="form-horizontal" enctype="multipart/form-data" action="{:U('About/insurance','doinfo=modify&id='.$info['id'])}">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">保险名称：</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="title" value="{$info.title}" required="">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
							<div class="form-group">
							    <label class="col-sm-2 control-label">详细内容：</label>
							    <div class="col-sm-10">
							        <script id="content" name="content" style="height:400px;" type="text/plain">{$info.content}</script>
							    </div>
							</div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-primary" type="submit">保存内容</button>
                                    <button class="btn btn-white" type="button" onclick="location.href='{:U('About/listad','type=2&add=1')}'">返回</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <include file="Public/footer" />
    <script type="text/javascript">
        $(document).ready(function () {
            $(".i-checks").iCheck({
                checkboxClass: "icheckbox_square-green",
                radioClass: "iradio_square-green",
            });

            //var editor = window.InitUEditor("content", "content");
			var editor = UE.getEditor('content');
            // var temp = {
            //     "test": 1, "title": '测试'
            // };
            // var data = { "ccc": temp };
            // $.ajax({
            //     type: "post",
            //     url: "http://localhost:10017/sapi.php/home/project",
            //     data: {
            //         "ccc": temp
            //     },
            //     success: function (result) {
            //         console.log(result);
            //     }
            // });
        });
    </script>