<include file="Public/header" />

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form method="post" class="form-horizontal" enctype="multipart/form-data"
                          action="{:U('CaseContent/modify','doinfo=modify&id='.$info['id'].'&p='.$map['p'])}">
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">标题<span style="color:red;margin:5px;">*</span>：</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="title" value="{$info.title}" required="" >
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">封面图<span style="color:red;margin:5px;">*</span>：</label>
                            <div class="col-sm-10">
                                <input name="img_url" id="img_url" type="text" class="form-control"
                                       value="{$info.img_url}"  required="" /><br>
                                <div>
                                    <a onclick="BrowseServer('Images:/', 'img_url');" href="javascript:void(0);"
                                       class="btn btn-white" data-options="iconCls:'icon-redo'"
                                       style="width: 60px">选择</a>
                                    <a id="img_url_Img" title="点击预览大图,点击大图关闭预览" href="{$info.img_url}"
                                       target="_blank">
                                        <if condition="$info.img_url neq ''">
                                            <img src="{$info.img_url}"
                                                 style="max-height:100px;max-width: 100%" />
                                        </if>
                                    </a>
                                    <div class="red" style="margin-top:5px;">尺寸大小为：200*100</div>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">概述：<span style="color:red;margin:5px;">*</span></label>
                            <div class="col-sm-10">
							        <textarea class="form-control" name="content"
                                              style="resize:none;height:100px;">{$info.content}</textarea>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">内容详情：</label>
                            <div class="col-sm-10" style="position: relative;">
                                    <textarea cols="80" id="content" name="content_detail" style="height: 400px;"
                                              rows="10" required="请填写内容" >{$info.content_detail}</textarea>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">所属分类<span
                                    style="color:red;margin:5px;">*</span>：</label>
                            <div class="col-sm-10">
                                <select data-placeholder="选择分类" name="cate_id"
                                        class="form-control chosen-select" required>
                                    <option value="0">选择分类</option>
                                    <foreach name="cate" item="v" key="k">
                                        <option value="{$v.id}" {$info["cate_id"]|getSelect=select,$v["id"],###}>
                                        {$v.title}</option>
                                    </foreach>
                                </select>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">排序号<span style="color:red;margin:5px;">*</span>：</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="orderby"
                                       value="{$info.orderby|default=999}"
                                       required="">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group myform">
                            <label class="col-sm-2 control-label">是否显示<span style="color:red;margin:5px;">*</span>：</label>
                            <div class="col-sm-10 radio i-checks">
                                <label><input type="radio" name="status" value="0"
                                              {$info["status"]|getSelect=radio,###,0}><i></i>隐藏</label>
                                <label><input type="radio" name="status" value="1"
                                              {$info["status"]|getSelect=radio,###,1}><i></i>显示</label>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-primary" type="submit">保存内容</button>
                                <button class="btn btn-white" type="button"
                                        onclick="location.href='{:U('CaseContent/index','p='.$map['p'])}'">返回</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<include file="Public/footer" />
<script>
    $(document).ready(function () {
        $(".i-checks").iCheck({
            checkboxClass: "icheckbox_square-green",
            radioClass: "iradio_square-green",
        });

        var editor = UE.getEditor('content');
    });
</script>