<include file="Public/header" />

<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <form method="post" class="form-horizontal" enctype="multipart/form-data" action="{:U('ProductOrderProduct/comment','doinfo=modify&id='.$info['id'].'&type='.$map['type'])}">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">商品符合度：</label>
                                <div class="col-sm-10 radio">
                                    <p>{$info.comment1}星</p>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">店家服务态度：</label>
                                <div class="col-sm-10 radio">
                                    <p>{$info.comment2}星</p>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">物流发货速度：</label>
                                <div class="col-sm-10 radio">
                                    <p>{$info.comment3}星</p>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">配送员服务态度：</label>
                                <div class="col-sm-10 radio">
                                    <p>{$info.comment4}星</p>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">评价详情：</label>
                                <div class="col-sm-10 radio">
                                    <textarea class="form-control" name="content" style="resize:none;height:100px;" type="text/plain" readonly>{$info.content}</textarea>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">评价图集：</label>
                                <div class="col-sm-10 radio">
                                    <div class="MulitiImageSelecttextarea">
                                        <textarea type="text" name="images" id="images" class="MulitiImageSelect" multiline="true" style="width: 100%; height: 100px">{$info.images}</textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">评价时间：</label>
                                <div class="col-sm-10 radio">
                                    <p>{$info.createdate|strtotime|date="Y-m-d H:i",###}</p>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">平台回复：</label>
                                <div class="col-sm-10 radio">
                                    <textarea class="form-control" name="platform_reply" style="resize:none;height:100px;" type="text/plain">{$info.platform_reply}</textarea>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">回复时间：</label>
                                <div class="col-sm-10 radio">
                                    <if condition="$info.platform_time neq ''">
                                        <p>{$info.platform_time|strtotime|date="Y-m-d H:i",###}</p>
                                    </if>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-primary" type="submit">保存内容</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <include file="Public/footer" />
    <!-- 时间 -->
    <script src="__JS__/plugins/layer/laydate/laydate.js"></script>
    <script>
        $(document).ready(function () {
            $(".i-checks").iCheck({
                checkboxClass: "icheckbox_square-green",
                radioClass: "iradio_square-green",
            });

            //初始化图集
            InitMulitiImages("images");
        });
    </script>